html, body {
    font-size: 14px;
    width: 600px;
    height: fit-content;
}

h1 {
    color: #05A;
    font-size: 25px;
    font-weight: 400;
}

img {
    width: 30px;
}

.mymodal {
    margin: 10px;
}

.mymodal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mymodal-content {
    padding: 5px 0;
}

.logo {
    padding: 10px;
}

.logo-icon {
    vertical-align: text-bottom;
}

#contentDiv {
    padding: 20px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.download-itemTitle {
    font-size: small;
    height: fit-content;
    width: 280px;
    /* vertical-align: text-bottom; */
}

.bold {
    font-weight: bold;
}

.download-item {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* display: grid;
    grid-template-columns: 65% 35%; */
    border-bottom: 1px rgb(224, 224, 224) solid ;
}

.download-itemBtns {
    position: absolute;
    right: 20px;
}

.btn {
    margin: 2px;
    
}

