html, body {
    font-size: 14px;
    height:fit-content;
    width: 400px;
}

h1 {
    color: #05A;
    font-size: 25px;
    font-weight: 400;
}

img {
    width: 30px;
}

.mymodal {
    margin: 10px;
}

.mymodal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mymodal-content {
    padding: 5px 0;
}

.logo {
    padding: 10px;
}

.logo-icon {
    vertical-align: text-bottom;
}

#contentDiv {
    padding: 20px;
}
